<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shopping-car-heading" jhiTranslate="mitiendaApp.shoppingCar.home.createOrEditLabel">Create or edit a Shopping Car</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.shoppingCar.numberProduct" for="field_numberProduct">Number Product</label>
                    <input type="text" class="form-control" name="numberProduct" id="field_numberProduct"
                           formControlName="numberProduct"/>
                    <div *ngIf="editForm.get('numberProduct')!.invalid && (editForm.get('numberProduct')!.dirty || editForm.get('numberProduct')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numberProduct')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.shoppingCar.product" for="field_product">Product</label>
                    <input type="text" class="form-control" name="product" id="field_product"
                           formControlName="product"/>
                    <div *ngIf="editForm.get('product')!.invalid && (editForm.get('product')!.dirty || editForm.get('product')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('product')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.shoppingCar.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.shoppingCar.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                    <div *ngIf="editForm.get('quantity')!.invalid && (editForm.get('quantity')!.dirty || editForm.get('quantity')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quantity')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quantity')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.shoppingCar.totalPurchase" for="field_totalPurchase">Total Purchase</label>
                    <input type="number" class="form-control" name="totalPurchase" id="field_totalPurchase"
                           formControlName="totalPurchase"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mitiendaApp.shoppingCar.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id" *ngFor="let customerOption of users; trackBy: trackById">{{ customerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
