<div>
    <h2 id="page-heading">
        <span jhiTranslate="mitiendaApp.shoppingCar.home.title">Shopping Cars</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-shopping-car" [routerLink]="['/shopping-car/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="mitiendaApp.shoppingCar.home.createLabel">
            Create a new Shopping Car
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="shoppingCars?.length === 0">
        <span jhiTranslate="mitiendaApp.shoppingCar.home.notFound">No shoppingCars found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="shoppingCars?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numberProduct"><span jhiTranslate="mitiendaApp.shoppingCar.numberProduct">Number Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="product"><span jhiTranslate="mitiendaApp.shoppingCar.product">Product</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="mitiendaApp.shoppingCar.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="mitiendaApp.shoppingCar.quantity">Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalPurchase"><span jhiTranslate="mitiendaApp.shoppingCar.totalPurchase">Total Purchase</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userId"><span jhiTranslate="mitiendaApp.shoppingCar.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shoppingCar of shoppingCars ;trackBy: trackId">
                    <td><a [routerLink]="['/shopping-car', shoppingCar.id, 'view']">{{ shoppingCar.id }}</a></td>
                    <td>{{ shoppingCar.numberProduct }}</td>
                    <td>{{ shoppingCar.product }}</td>
                    <td>{{ shoppingCar.description }}</td>
                    <td>{{ shoppingCar.quantity }}</td>
                    <td>{{ shoppingCar.totalPurchase }}</td>
                    <td>
                        <div *ngIf="shoppingCar.userId">
                            <a [routerLink]="['/customer', shoppingCar.userId , 'view']" >{{ shoppingCar.userId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/shopping-car', shoppingCar.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/shopping-car', shoppingCar.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(shoppingCar)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="shoppingCars?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
