<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span jhiTranslate="mitiendaApp.customer.detail.title">Customer</span> {{ customer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mitiendaApp.customer.firstName">First Name</span></dt>
                <dd>
                    <span>{{ customer.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.customer.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ customer.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.customer.idNumber">Id Number</span></dt>
                <dd>
                    <span>{{ customer.idNumber }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.customer.email">Email</span></dt>
                <dd>
                    <span>{{ customer.email }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.customer.phone">Phone</span></dt>
                <dd>
                    <span>{{ customer.phone }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.customer.addresLine">Addres Line</span></dt>
                <dd>
                    <span>{{ customer.addresLine }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.customer.user">User</span></dt>
                <dd>
                    <div *ngIf="customer.userId">
                        <a [routerLink]="['/home', customer.userId, 'view']">{{ customer.userId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.customer.producto">Producto</span></dt>
                <dd>
                    <div *ngIf="customer.productoId">
                        <a [routerLink]="['/product', customer.productoId, 'view']">{{ customer.productoNombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
