<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span jhiTranslate="mitiendaApp.payment.detail.title">Payment</span> {{ payment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mitiendaApp.payment.firstName">First Name</span></dt>
                <dd>
                    <span>{{ payment.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.payment.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ payment.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.payment.wayToPay">Way To Pay</span></dt>
                <dd>
                    <span>{{ payment.wayToPay }}</span>
                </dd>
                <dt><span jhiTranslate="mitiendaApp.payment.user">User</span></dt>
                <dd>
                    <div *ngIf="payment.userId">
                        <a [routerLink]="['/customer', payment.userId, 'view']">{{ payment.userId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
